<div class="footer">
  <p><%= link_to 'TestGuru', github_url('poloz0ter','TestGuru'),
  target: :_blank%> by pol0zoter
  <%= year_now %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                                   'http://thinknetica.com/',
                                    target: :_blank %></p>
</div>
