<ul class="nav bg-dark">
  <li class="nav-item">
    <b>  
      <%= link_to 'ADMIN PANEL', admin_tests_path, class: "nav-link" %>
    </b>
  </li>
  <li class="nav-item">
    <%= link_to 'TestGuru', tests_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link active" %>
  </li>
</ul>
