<% flash.each do |key, message| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= message %></div>
  <% elsif flash[:notice] %>
    <div class="alert alert-primary"><%= message %></div>
  <% end %>
<% end %>
