
  <div class="footer bg-light navbar-text">
    <span class="navbar-text">
      
      <b><p><%= github_url('poloz0ter','TestGuru')%> by pol0zoter
      <%= year_now %></p>
      <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                                       'http://thinknetica.com/',
                                        target: :_blank %></p></b>
    </span>

  </div>
