<div align="center">
<h1>Проект Тест-гуру</h1>
<ul>
	<p><h4>Приложение для создания, управления и выполнения тестов!</h4></p>
	<li>Проходите тесты</li>
	<li>Станьте автором собственных тестов</li>
	<li>Делитесь результатами в соц.сетях</li>
</ul>
<div>
	<a href="/author">Об Авторе</a></div>
	<%= link_to "THINKNETICA", "http://www.thinknetica.com" %>
</div>