<h3>Bogdan Shatalov</h3>
<ul>
	<li>email: <%= link_to 'polozoter', "mailto: polozoter@gmail.com" %> </li>
	<li>age: 23</li>
	<li> <%= link_to 'github', "https://www.github.com/poloz0ter" %> </li>
</ul>