<h1>Tests</h1>
<p><%= link_to 'New test', new_admin_test_path %></p>
<% @tests_pages.each do |test| %>
  <table>
    <tr>
      <td><%= link_to test.title, admin_test_path(test) %></td>
    </tr>
  </table>
<% end %>
<p><%= paginate @tests_pages %></p>
