<h1><%= t('tests.index.header') %></h1>
<% @tests_pages.each do |test| %>
  <table>
    <tr>
      <td><b><%= test.title %></b></td>
      <td><%= button_to t('.start'), start_test_path(test) %></td>
    </tr>
  </table>
<% end %>
<p><%= paginate @tests_pages %></p>
