<h1>Tests</h1>
<% @tests_pages.each do |test| %>
  <table>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= button_to 'Start', start_test_path(test) %></td>
    </tr>
  </table>
<% end %>
<p><%= paginate @tests_pages %></p>
